<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuri.Dao.LabMapper">
    <resultMap id="labList" type="com.yuri.pojo.LabData">
        <result property="labId" column="labId"/>
        <result property="labName" column="labName"/>
    </resultMap>

    <select id="findLabAll" resultMap="labList">
        select * from t_lab group by labName
    </select>

    <sql id="lab-value">
        <trim suffixOverrides=",">
            <if test="labId!=null">#{labId},</if>
            <if test="labName!=null">#{labName},</if>
        </trim>
    </sql>
    <sql id="lab-column">
        <trim suffixOverrides=",">
            <if test="labId!=null">labId,</if>
            <if test="labName!=null">labName,</if>
        </trim>
    </sql>

    <insert id="addNewLab" parameterType="com.yuri.pojo.LabData">
        insert into t_lab (<include refid="lab-column"/>) values (<include refid="lab-value"/>)
    </insert>

    <delete id="delLabById" parameterType="String">
        delete from t_lab where labId = #{labId}
    </delete>
</mapper>